{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block body %}
    <div class="container">
        <h1>Inscrivez-vous</h1>
        <div class="container mt-4">
            {{ form_start(form) }}
                    <div class="row">
                        <div class="col-3">{{ form_row(form.username) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">{{ form_row(form.password) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">{{ form_row(form.email) }}</div>
                    </div>
                        {{ form_widget(form) }}
                    <button class="btn btn-primary">{{ button|default('Inscription')}}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

