{% extends 'base.html.twig'%}

{% block title 'Tous nos produits'%}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
                <div class="form-row">
                    <div class="col-md-3">
                        {{ form_row(form.productName)}}
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="fa fa-eye-open"></span>
                            Chercher
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4 text-center">
        <h2>Les produits</h2> 
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="card">
                    <div class="card mb-3 text-center">
                        <div class="card-body">
                            <h5 class="card-title">
                               <a href="{{ path('product.show',{id: product.id,slug: product.slug}) }}">{{ product.name }}</a> 
                            </h5>
                            <div class="text-primary" style="font-weight: bold;">{{ product.price | number_format(0, '', ' ') }} Ar</div>
                        </div>

                        <img src="{{ asset('images/' ~ product.image) }}" alt="card-img-top" style="width: 100%; height: 20%;">
                    
                        {% if app.user %}
                            <a href="{{ path('cart.add', {'id': product.id }) }}" class="btn btn-success float-right">
                                <i class="fa fa-shopping-cart mr-1"></i>
                                Ajouter
                            </a>
                        {% else %}
                        <a href="{{ path('product.show',{id: product.id, slug: product.slug})}}" class="btn btn-success float-right">
                            Voir
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div>
        
        <div class="paginator">
            {{ knp_pagination_render(products) }}
        </div>  
    </div>
   
{% endblock %}
