<h3>Nouveau contact </h3>
<p>Nom : {{ contact.firstname }}</p>
<p>Prenom : {{ contact.lastname }}</p>
<p>Telephone : {{ contact.phone }}</p>
<p>Email : {{ contact.email }}</p>
<p>Message : {{ contact.message | nl2br }}</p>